* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;
}

header {
  background-image: url(./img/Oval.png);
  height: 500px;
  background-repeat: no-repeat;
}
header .header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-navbar h2 {
  padding-top: 23px;
  padding-left: 35px;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
}
header .header-navbar .header-demons {
  display: flex;
  align-items: center;
  gap: 38px;
  padding-right: 30px;
  padding-top: 30px;
}
header .header-navbar .header-demons select {
  border: none;
  color: #5454D4;
}
header .header-navbar .header-demons select option {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.5px;
  color: #5454D4;
}
header .header-navbar .header-demons a {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.5px;
  text-decoration: none;
  color: black;
}
header .header-navbar .header-demons button {
  width: 141px;
  height: 45px;
  border: 1px solid #C31A12;
  background: #F04037;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.5px;
  text-align: center;
  border-radius: 5px;
  transition: 0.7s ease-in-out;
}
header .header-navbar .header-demons button:hover {
  background: none;
  border: 1px solid #C31A12;
  color: #C31A12;
  transform: scale(1.1);
}

main .section1 .container .section1-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: -250px;
  margin-bottom: 120px;
}
main .section1 .container .section1-container .section1-creat h3 {
  width: 450px;
  font-weight: 700;
  font-size: 70px;
  line-height: 84px;
  letter-spacing: -2.5px;
  color: #19191B;
  margin-bottom: 23px;
}
main .section1 .container .section1-container .section1-creat .pages {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #696871;
  margin-bottom: 35px;
  width: 530px;
}
main .section1 .container .section1-container .section1-creat button {
  width: 141px;
  height: 45px;
  border: 1px solid #C31A12;
  background: #F04037;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.5px;
  text-align: center;
  border-radius: 5px;
  transition: 0.7s ease-in-out;
}
main .section1 .container .section1-container .section1-creat button:hover {
  background: none;
  border: 1px solid #C31A12;
  color: #C31A12;
  transform: scale(1.1);
}
main .section1 .container .section1-container .section1-creat .watch {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
}
main .section1 .container .section1-container .section1-creat .watch .intro {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.5px;
  color: #5454D4;
}
main .section1 .container .section1-container .iphone {
  margin-top: -60px;
  width: 48%;
}
main .section1 .container .icon {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}
main .section2 {
  background: #5454D4;
  border-bottom-right-radius: 30%;
  margin-bottom: 100px;
  height: 800px;
}
main .section2 .section2-container {
  display: flex;
  align-items: end;
  justify-content: end;
}
main .section2 .container .section2-fast {
  display: flex;
  align-items: center;
  gap: 66px;
}
main .section2 .container .section2-fast .cardlar {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
main .section2 .container .section2-fast .cardlar .card {
  width: 255px;
  height: 254px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 52px 54px 0px rgba(65, 62, 101, 0.2980392157);
  transition: 0.7s ease-in-out;
}
main .section2 .container .section2-fast .cardlar .card .card-layout {
  margin-top: 26px;
  margin-left: 28px;
  width: 50px;
  height: 50px;
  background: rgba(240, 64, 55, 0.0980392157);
  border-radius: 40%;
  padding: 12px;
  margin-bottom: 23px;
}
main .section2 .container .section2-fast .cardlar .card h3 {
  margin-left: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  color: #19191B;
  margin-bottom: 13px;
}
main .section2 .container .section2-fast .cardlar .card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #696871;
  margin-left: 28px;
  margin-right: 28px;
}
main .section2 .container .section2-fast .cardlar .card:hover {
  transform: scale(1.1);
}
main .section2 .container .section2-fast .cardlar .card2 {
  width: 255px;
  height: 254px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 52px 54px 0px rgba(65, 62, 101, 0.2980392157);
  transition: 0.7s ease-in-out;
}
main .section2 .container .section2-fast .cardlar .card2 .card-layout {
  margin-top: 26px;
  margin-left: 28px;
  width: 50px;
  height: 50px;
  background: rgba(254, 220, 90, 0.1019607843);
  border-radius: 40%;
  padding: 12px;
  margin-bottom: 23px;
}
main .section2 .container .section2-fast .cardlar .card2 h3 {
  margin-left: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  color: #19191B;
  margin-bottom: 13px;
}
main .section2 .container .section2-fast .cardlar .card2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #696871;
  margin-left: 28px;
  margin-right: 28px;
}
main .section2 .container .section2-fast .cardlar .card2:hover {
  transform: scale(1.1);
}
main .section2 .container .section2-fast .cardlar .card3 {
  width: 255px;
  height: 254px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 52px 54px 0px rgba(65, 62, 101, 0.2980392157);
  transition: 0.7s ease-in-out;
}
main .section2 .container .section2-fast .cardlar .card3 .card-layout {
  margin-top: 26px;
  margin-left: 28px;
  width: 50px;
  height: 50px;
  background: rgba(84, 84, 212, 0.1019607843);
  border-radius: 40%;
  padding: 12px;
  margin-bottom: 23px;
}
main .section2 .container .section2-fast .cardlar .card3 h3 {
  margin-left: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  color: #19191B;
  margin-bottom: 13px;
}
main .section2 .container .section2-fast .cardlar .card3 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #696871;
  margin-left: 28px;
  margin-right: 28px;
}
main .section2 .container .section2-fast .cardlar .card3:hover {
  transform: scale(1.1);
}
main .section2 .container .section2-fast .cardlar .card4 {
  width: 255px;
  height: 254px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 52px 54px 0px rgba(65, 62, 101, 0.2980392157);
  transition: 0.7s ease-in-out;
}
main .section2 .container .section2-fast .cardlar .card4 .card-layout {
  margin-top: 26px;
  margin-left: 28px;
  width: 50px;
  height: 50px;
  background: rgba(65, 62, 101, 0.1019607843);
  border-radius: 40%;
  padding: 12px;
  margin-bottom: 23px;
}
main .section2 .container .section2-fast .cardlar .card4 h3 {
  margin-left: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  color: #19191B;
  margin-bottom: 13px;
}
main .section2 .container .section2-fast .cardlar .card4 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #696871;
  margin-left: 28px;
  margin-right: 28px;
}
main .section2 .container .section2-fast .cardlar .card4:hover {
  transform: scale(1.1);
}
main .section2 .container .section2-fast .perfect h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
  color: white;
  width: 500px;
  margin-bottom: 31px;
}
main .section2 .container .section2-fast .perfect p {
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  color: rgba(255, 255, 255, 0.7019607843);
  margin-bottom: 39px;
}
main .section2 .container .section2-fast .perfect .chek {
  width: 200px;
  height: 60px;
}
main .section2 .container .section2-fast .perfect .chek a {
  text-decoration: none;
  border: 1px solid #EAE9F2;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.66px;
  text-align: center;
  color: white;
  padding: 16px;
  transition: 0.7s ease-in-out;
}
main .section2 .container .section2-fast .perfect .chek a:hover {
  background: #c8c2f7;
  color: #696871;
  transform: scale(1.2);
}
main .section3 .container .section3-container {
  display: flex;
  gap: 56px;
  justify-content: space-between;
  margin-bottom: 122px;
}
main .section3 .container .section3-container .section3-time {
  width: 48%;
  margin-top: 110px;
}
main .section3 .container .section3-container .section3-time h3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
  color: #19191B;
  margin-bottom: 18px;
}
main .section3 .container .section3-container .section3-time p {
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  color: #696871;
  margin-bottom: 35px;
}
main .section3 .container .section3-container .section3-time button {
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  display: grid;
  place-items: center;
  height: 64px;
  padding: 0 32px;
  border: 0;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 18px;
  color: #ffffff;
  cursor: wait;
}
@keyframes loading {
  0% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(-20px);
  }
}
main .section3 .container .section3-container .section3-time button > span {
  position: relative;
  z-index: 2;
}
main .section3 .container .section3-container .section3-time button::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  background: #F04037 repeating-linear-gradient(60deg, transparent, transparent 10px, #f8756e 10px, #fb9590 20px);
  animation: loading 1s infinite linear;
}
main .section3 .container .section3-container .section3-project {
  position: relative;
}
main .section3 .container .section3-container .section3-project .dasturchi {
  width: 100%;
}
main .section3 .container .section3-container .section3-project .soya {
  position: absolute;
  margin-left: -400px;
  margin-top: 40px;
}
main .section3 .container .section3-container .section3-project .next {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #FEDC5A;
  border-radius: 10px;
  background: #FEDC5A;
  box-shadow: 0px 32px 34px 0px rgba(28, 27, 32, 0.2);
  width: 305px;
  height: 113px;
  position: absolute;
  margin-top: -340px;
  margin-left: -68px;
}
main .section3 .container .section3-container .section3-project .next .kalakolchik {
  width: 31px;
  height: 31px;
  border: 1px solid #5454D4;
  background: #5454D4;
  border-radius: 50%;
  padding: 9px;
  margin-left: 20px;
}
main .section3 .container .section3-container .section3-project .next p {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.44px;
  color: #19191B;
  margin-bottom: 5px;
}
main .section3 .container .section3-container .section3-project .next h4 {
  font-size: 21px;
  line-height: 100%;
  letter-spacing: -0.66px;
  color: #19191B;
  width: 180px;
}
main .section3 .container .section3-container .section3-project .next:hover {
  background: #dbcf9c;
}
main .section4 {
  background: #F7F7FB;
  height: 900px;
  border-top-left-radius: 20%;
}
main .section4 .container .section4-container {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}
main .section4 .container .section4-container .section4-new {
  position: relative;
  margin-left: 68px;
}
main .section4 .container .section4-container .section4-new .soya {
  position: absolute;
  margin-left: -470px;
  margin-right: -40px;
  margin-top: 20px;
}
main .section4 .container .section4-container .section4-new .next {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #F04037;
  border-radius: 10px;
  background: #F04037;
  box-shadow: 0px 32px 34px 0px rgba(28, 27, 32, 0.2);
  width: 305px;
  height: 113px;
  position: absolute;
  margin-top: -540px;
  margin-left: -68px;
  transition: 0.7s ease-in-out;
}
main .section4 .container .section4-container .section4-new .next .kalakolchik {
  width: 31px;
  height: 31px;
  border: 1px solid #5454D4;
  background: #5454D4;
  border-radius: 50%;
  padding: 9px;
  margin-left: 20px;
}
main .section4 .container .section4-container .section4-new .next p {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.44px;
  color: #c8c5c5;
  margin-bottom: 5px;
}
main .section4 .container .section4-container .section4-new .next h4 {
  font-size: 21px;
  line-height: 100%;
  letter-spacing: -0.66px;
  color: #FFFFFF;
  width: 180px;
}
main .section4 .container .section4-container .section4-new .next:hover {
  background: #f882e0;
  transform: translateY(8.9px);
}
main .section4 .container .section4-container .section4-new .next:hover h4 {
  color: #19191B;
  transition: 0.6s ease-in-out;
}
main .section4 .container .section4-container .section4-need {
  margin-top: 40px;
  width: 490px;
}
main .section4 .container .section4-container .section4-need h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #19191B;
  margin-bottom: 20px;
}
main .section4 .container .section4-container .section4-need p {
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  color: #696871;
  margin-bottom: 41px;
}
main .section4 .container .section4-container .section4-need .card {
  border: 1px solid #EAE9F2;
  background: white;
  width: 349px;
  height: 95px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  padding: 20px;
  transition: 0.7s ease-in-out;
}
main .section4 .container .section4-container .section4-need .card .unique {
  border-radius: 40%;
  background: rgba(240, 64, 55, 0.0980392157);
  padding: 17px;
  width: 50px;
  height: 50px;
}
main .section4 .container .section4-container .section4-need .card h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: -0.66px;
  color: #19191B;
}
main .section4 .container .section4-container .section4-need .card h3 span {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.66px;
  color: #696871;
}
main .section4 .container .section4-container .section4-need .card:hover {
  background: cyan;
  transform: scale(1.1);
}
main .section4 .container .section4-container .section4-need .card2 {
  border: 1px solid #EAE9F2;
  background: white;
  width: 349px;
  height: 95px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 15px;
  transition: 0.7s ease-in-out;
}
main .section4 .container .section4-container .section4-need .card2 .smart {
  border-radius: 40%;
  background: rgba(240, 64, 55, 0.0980392157);
  padding: 17px;
  width: 50px;
  height: 50px;
}
main .section4 .container .section4-container .section4-need .card2 h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: -0.66px;
  color: #19191B;
  width: 170px;
}
main .section4 .container .section4-container .section4-need .card2 h3 span {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.66px;
  color: #696871;
}
main .section4 .container .section4-container .section4-need .card2:hover {
  background: cyan;
  transform: scale(1.1);
}
main .section5 .container .section5-container {
  margin-top: 87px;
}
main .section5 .container .section5-container h4 {
  width: 498px;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
  text-align: center;
  color: #19191B;
  margin: 0 auto;
  margin-bottom: 59px;
}
main .section5 .container .section5-container .section5-qutichalar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
main .section5 .container .section5-container .section5-qutichalar .quti {
  border: 1px solid #EAE9F2;
  background: white;
  width: 330px;
  height: 252px;
  transition: 0.7s ease-in-out;
}
main .section5 .container .section5-container .section5-qutichalar .quti .taylor {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-top: 29px;
  margin-bottom: 27px;
}
main .section5 .container .section5-container .section5-qutichalar .quti .taylor img {
  padding-left: 29px;
}
main .section5 .container .section5-container .section5-qutichalar .quti .taylor .jony h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #19191B;
}
main .section5 .container .section5-container .section5-qutichalar .quti .taylor .jony p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696871;
}
main .section5 .container .section5-container .section5-qutichalar .quti .taylor i {
  margin-left: 40px;
  color: #5454D4;
}
main .section5 .container .section5-container .section5-qutichalar .quti .cannot {
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  padding-left: 26px;
  padding-right: 26px;
}
main .section5 .container .section5-container .section5-qutichalar .quti .cannot span {
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  color: #5454D4;
}
main .section5 .container .section5-container .section5-qutichalar .quti:hover {
  transform: scale(1.1);
}
main .section5 .container .section5-container .section5-qutichalar .quti2 {
  border: 1px solid #EAE9F2;
  background: white;
  width: 330px;
  height: 252px;
  transition: 0.7s ease-in-out;
}
main .section5 .container .section5-container .section5-qutichalar .quti2 .taylor {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-top: 29px;
  margin-bottom: 27px;
}
main .section5 .container .section5-container .section5-qutichalar .quti2 .taylor img {
  padding-left: 29px;
}
main .section5 .container .section5-container .section5-qutichalar .quti2 .taylor .jony h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #19191B;
}
main .section5 .container .section5-container .section5-qutichalar .quti2 .taylor .jony p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696871;
}
main .section5 .container .section5-container .section5-qutichalar .quti2 .taylor i {
  margin-left: 60px;
  color: #5454D4;
}
main .section5 .container .section5-container .section5-qutichalar .quti2 .cannot {
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  padding-left: 26px;
  padding-right: 26px;
}
main .section5 .container .section5-container .section5-qutichalar .quti2 .cannot span {
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  color: #5454D4;
}
main .section5 .container .section5-container .section5-qutichalar .quti2:hover {
  transform: scale(1.1);
}
main .section5 .container .section5-container .section5-qutichalar .quti3 {
  border: 1px solid #EAE9F2;
  background: white;
  width: 330px;
  height: 252px;
  transition: 0.7s ease-in-out;
}
main .section5 .container .section5-container .section5-qutichalar .quti3 .taylor {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-top: 29px;
  margin-bottom: 27px;
}
main .section5 .container .section5-container .section5-qutichalar .quti3 .taylor img {
  padding-left: 29px;
}
main .section5 .container .section5-container .section5-qutichalar .quti3 .taylor .jony h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #19191B;
}
main .section5 .container .section5-container .section5-qutichalar .quti3 .taylor .jony p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696871;
}
main .section5 .container .section5-container .section5-qutichalar .quti3 .taylor i {
  margin-left: 40px;
  color: #5454D4;
}
main .section5 .container .section5-container .section5-qutichalar .quti3 .cannot {
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  padding-left: 26px;
  padding-right: 26px;
}
main .section5 .container .section5-container .section5-qutichalar .quti3 .cannot span {
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  color: #5454D4;
}
main .section5 .container .section5-container .section5-qutichalar .quti3:hover {
  transform: scale(1.1);
}
main .section5 .container .section5-container .sms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 80px;
}
main .section5 .container .section5-container .sms .see {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.5px;
  color: #5454D4;
}

footer {
  background: #19191B;
  border-top-right-radius: 30%;
}
footer .container .finish h5 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
  text-align: center;
  color: white;
  margin-bottom: 21px;
}
footer .container .finish .page {
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6980392157);
  width: 515px;
  margin: 0 auto;
  margin-bottom: 44px;
}
footer .container .finish form {
  display: grid;
  grid-template-columns: auto;
}
footer .container .finish form .name {
  width: 539px;
  height: 61px;
  border-radius: 10px;
  margin: 0 auto;
  padding-left: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #696871;
  margin-bottom: 15px;
}
footer .container .finish form .email {
  width: 539px;
  height: 61px;
  border-radius: 10px;
  margin: 0 auto;
  padding-left: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #696871;
  margin-bottom: 15px;
}
footer .container .finish form button {
  width: 539px;
  height: 61px;
  border-radius: 10px;
  margin: 0 auto;
  background: #F04037;
  border: 1px solid #C31A12;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  text-align: center;
  color: white;
  margin-bottom: 126px;
}
footer .container .finish .finish-malumot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
footer .container .finish .finish-malumot h5 {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  color: white;
}
footer .container .finish .finish-malumot .About {
  display: grid;
  grid-template-columns: auto;
  gap: 22px;
}
footer .container .finish .finish-malumot .About a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: -0.5px;
  color: white;
}
footer .container .finish .finish-malumot .Learn {
  display: grid;
  grid-template-columns: auto;
  gap: 22px;
}
footer .container .finish .finish-malumot .Learn a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: -0.5px;
  color: white;
}
footer .container .finish .finish-malumot .Stories {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
}
footer .container .finish .finish-malumot .Stories a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: -0.5px;
  color: white;
}
footer .container .finish .finish-malumot .Hire {
  display: grid;
  grid-template-columns: auto;
  gap: 22px;
}
footer .container .finish .finish-malumot .Hire a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: -0.5px;
  color: white;
}
footer .container .finish .finishlarim {
  border-top: 1px solid #2F2F31;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .finish .finishlarim p {
  margin-top: 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 38px;
  letter-spacing: -0.41px;
  color: rgba(255, 255, 255, 0.6980392157);
}
footer .container .finish .finishlarim .finish-icon {
  margin-top: 18px;
}
footer .container .finish .finishlarim .finish-icon i {
  color: #2424db;
}

@media (max-width: 1115px) {
  main .section1 .container .section1-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .section1 .container .section1-container .section1-creat {
    margin-bottom: 90px;
  }
  main .section2 {
    height: 1143px;
  }
  main .section2 .container .section2-fast {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .section2 .container .section2-fast .perfect p {
    width: 450px;
  }
  main .section3 .container .section3-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .section4 {
    height: 1500px;
  }
  main .section4 .container .section4-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .section5 .container .section5-container .section5-qutichalar {
    flex-wrap: wrap;
  }
  footer .container .finish .finish-malumot {
    flex-direction: column;
    justify-self: center;
    gap: 100px;
  }
}
@media (max-width: 620px) {
  header .container .header-navbar h2 {
    font-size: 12px;
  }
  header .container .header-navbar .header-demons a {
    font-size: 10px;
  }
  main .section1 .container .section1-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .section1 .container .section1-container .section1-creat {
    margin-bottom: 90px;
  }
  main .section1 .container .section1-container .section1-creat h3 {
    width: 350px;
    font-size: 45px;
  }
  main .section1 .container .section1-container .section1-creat .pages {
    width: 400px;
    font-size: 14px;
  }
  main .section2 {
    height: 1693px;
  }
  main .section2 .container .section2-fast {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .section2 .container .section2-fast .cardlar {
    display: grid;
    grid-template-columns: auto;
    margin-top: -100px;
  }
  main .section2 .container .section2-fast .perfect {
    margin-top: -30px;
  }
  main .section2 .container .section2-fast .perfect h2 {
    width: 390px;
  }
  main .section2 .container .section2-fast .perfect p {
    width: 350px;
  }
  main .section3 .container .section3-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .section3 .container .section3-container .section3-project {
    width: 60%;
  }
  main .section3 .container .section3-container .section3-project .soya {
    width: 80%;
  }
  main .section3 .container .section3-container .section3-project .next {
    width: 270px;
    height: 80px;
  }
  main .section4 {
    height: 1500px;
  }
  main .section4 .container .section4-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .section4 .container .section4-container .section4-new .dasturchi {
    width: 60%;
  }
  main .section4 .container .section4-container .section4-new .next {
    width: 280px;
    height: 80px;
  }
  main .section4 .container .section4-container .section4-need {
    width: 50%;
  }
  main .section4 .container .section4-container .section4-need h2 {
    font-size: 30px;
  }
  main .section4 .container .section4-container .section4-need .card {
    width: 300px;
    height: 90px;
  }
  main .section4 .container .section4-container .section4-need .card2 {
    width: 300px;
    height: 90px;
  }
  main .section5 .container .section5-container h4 {
    width: 300px;
    font-size: 27px;
  }
  main .section5 .container .section5-container .section5-qutichalar {
    flex-wrap: wrap;
  }
  footer .container .finish h5 {
    font-size: 28px;
  }
  footer .container .finish .page {
    width: 400px;
    font-size: 14px;
  }
  footer .container .finish form .name {
    width: 450px;
    height: 51px;
  }
  footer .container .finish form .email {
    width: 450px;
    height: 51px;
  }
  footer .container .finish form button {
    width: 450px;
    height: 51px;
  }
  footer .container .finish .finish-malumot {
    flex-direction: column;
    justify-self: center;
    gap: 100px;
  }
}
@media (max-width: 570px) {
  header .container .header-navbar {
    display: flex;
    gap: 4px;
  }
  header .container .header-navbar h2 {
    font-size: 12px;
  }
  header .container .header-navbar .header-demons a {
    font-size: 10px;
  }
  header .container .header-navbar .header-demons button {
    width: 40px;
    height: 30px;
    font-size: 8px;
  }
  main .section1 .container .section1-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .section1 .container .section1-container .section1-creat {
    margin-bottom: 90px;
  }
  main .section1 .container .section1-container .section1-creat h3 {
    width: 350px;
    font-size: 45px;
  }
  main .section1 .container .section1-container .section1-creat .pages {
    width: 400px;
    font-size: 14px;
  }
  main .section2 {
    height: 1693px;
  }
  main .section2 .container .section2-fast {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .section2 .container .section2-fast .cardlar {
    display: grid;
    grid-template-columns: auto;
    margin-top: -100px;
  }
  main .section2 .container .section2-fast .perfect {
    margin-top: -30px;
  }
  main .section2 .container .section2-fast .perfect h2 {
    width: 390px;
  }
  main .section2 .container .section2-fast .perfect p {
    width: 350px;
  }
  main .section3 .container .section3-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .section3 .container .section3-container .section3-project {
    width: 60%;
  }
  main .section3 .container .section3-container .section3-project .soya {
    width: 80%;
  }
  main .section3 .container .section3-container .section3-project .next {
    width: 270px;
    height: 80px;
  }
  main .section4 {
    height: 1500px;
  }
  main .section4 .container .section4-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .section4 .container .section4-container .section4-new .dasturchi {
    width: 60%;
  }
  main .section4 .container .section4-container .section4-new .next {
    width: 280px;
    height: 80px;
  }
  main .section4 .container .section4-container .section4-need {
    width: 50%;
  }
  main .section4 .container .section4-container .section4-need h2 {
    font-size: 30px;
  }
  main .section4 .container .section4-container .section4-need .card {
    width: 300px;
    height: 90px;
  }
  main .section4 .container .section4-container .section4-need .card2 {
    width: 300px;
    height: 90px;
  }
  main .section5 .container .section5-container h4 {
    width: 300px;
    font-size: 27px;
  }
  main .section5 .container .section5-container .section5-qutichalar {
    flex-wrap: wrap;
  }
  footer .container .finish h5 {
    font-size: 28px;
  }
  footer .container .finish .page {
    width: 400px;
    font-size: 14px;
  }
  footer .container .finish form .name {
    width: 450px;
    height: 51px;
  }
  footer .container .finish form .email {
    width: 450px;
    height: 51px;
  }
  footer .container .finish form button {
    width: 450px;
    height: 51px;
  }
  footer .container .finish .finish-malumot {
    flex-direction: column;
    justify-self: center;
    gap: 100px;
  }
}/*# sourceMappingURL=main.css.map */