* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;
}

header {
  background-image: url(./img/Oval.png);
  height: 500px;
  background-repeat: no-repeat;
}
header .header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-navbar h2 {
  padding-top: 23px;
  padding-left: 35px;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
}
header .header-navbar .header-demons {
  display: flex;
  align-items: center;
  gap: 38px;
  padding-right: 30px;
  padding-top: 30px;
}
header .header-navbar .header-demons select {
  border: none;
  color: #5454D4;
}
header .header-navbar .header-demons select option {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.5px;
  color: #5454D4;
}
header .header-navbar .header-demons a {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.5px;
  text-decoration: none;
  color: black;
}
header .header-navbar .header-demons button {
  width: 141px;
  height: 45px;
  border: 1px solid #C31A12;
  background: #F04037;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.5px;
  text-align: center;
  border-radius: 5px;
  transition: 0.7s ease-in-out;
}
header .header-navbar .header-demons button:hover {
  background: none;
  border: 1px solid #C31A12;
  color: #C31A12;
  transform: scale(1.1);
}

main .section1 .container .section1-container {
  display: flex;
  gap: 15px;
  margin-top: -250px;
  margin-bottom: 120px;
}
main .section1 .container .section1-container .section1-creat h3 {
  width: 450px;
  font-weight: 700;
  font-size: 70px;
  line-height: 84px;
  letter-spacing: -2.5px;
  color: #19191B;
  margin-bottom: 23px;
}
main .section1 .container .section1-container .section1-creat .pages {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #696871;
  margin-bottom: 35px;
  width: 530px;
}
main .section1 .container .section1-container .section1-creat button {
  width: 141px;
  height: 45px;
  border: 1px solid #C31A12;
  background: #F04037;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.5px;
  text-align: center;
  border-radius: 5px;
  transition: 0.7s ease-in-out;
}
main .section1 .container .section1-container .section1-creat button:hover {
  background: none;
  border: 1px solid #C31A12;
  color: #C31A12;
  transform: scale(1.1);
}
main .section1 .container .section1-container .section1-creat .watch {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
}
main .section1 .container .section1-container .section1-creat .watch .intro {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.5px;
  color: #5454D4;
}
main .section1 .container .section1-container .iphone {
  margin-top: -60px;
  width: 48%;
}
main .section1 .container .icon {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}
main .section2 {
  background: #5454D4;
  border-bottom-right-radius: 30%;
  margin-bottom: 100px;
  height: 800px;
}
main .section2 .section2-container {
  display: flex;
  align-items: end;
  justify-content: end;
}
main .section2 .container .section2-fast {
  display: flex;
  align-items: center;
  gap: 66px;
}
main .section2 .container .section2-fast .cardlar {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
main .section2 .container .section2-fast .cardlar .card {
  width: 255px;
  height: 254px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 52px 54px 0px rgba(65, 62, 101, 0.2980392157);
  transition: 0.7s ease-in-out;
}
main .section2 .container .section2-fast .cardlar .card .card-layout {
  margin-top: 26px;
  margin-left: 28px;
  width: 50px;
  height: 50px;
  background: rgba(240, 64, 55, 0.0980392157);
  border-radius: 40%;
  padding: 12px;
  margin-bottom: 23px;
}
main .section2 .container .section2-fast .cardlar .card h3 {
  margin-left: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  color: #19191B;
  margin-bottom: 13px;
}
main .section2 .container .section2-fast .cardlar .card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #696871;
  margin-left: 28px;
  margin-right: 28px;
}
main .section2 .container .section2-fast .cardlar .card:hover {
  transform: scale(1.1);
}
main .section2 .container .section2-fast .cardlar .card2 {
  width: 255px;
  height: 254px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 52px 54px 0px rgba(65, 62, 101, 0.2980392157);
  transition: 0.7s ease-in-out;
}
main .section2 .container .section2-fast .cardlar .card2 .card-layout {
  margin-top: 26px;
  margin-left: 28px;
  width: 50px;
  height: 50px;
  background: rgba(254, 220, 90, 0.1019607843);
  border-radius: 40%;
  padding: 12px;
  margin-bottom: 23px;
}
main .section2 .container .section2-fast .cardlar .card2 h3 {
  margin-left: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  color: #19191B;
  margin-bottom: 13px;
}
main .section2 .container .section2-fast .cardlar .card2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #696871;
  margin-left: 28px;
  margin-right: 28px;
}
main .section2 .container .section2-fast .cardlar .card2:hover {
  transform: scale(1.1);
}
main .section2 .container .section2-fast .cardlar .card3 {
  width: 255px;
  height: 254px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 52px 54px 0px rgba(65, 62, 101, 0.2980392157);
  transition: 0.7s ease-in-out;
}
main .section2 .container .section2-fast .cardlar .card3 .card-layout {
  margin-top: 26px;
  margin-left: 28px;
  width: 50px;
  height: 50px;
  background: rgba(84, 84, 212, 0.1019607843);
  border-radius: 40%;
  padding: 12px;
  margin-bottom: 23px;
}
main .section2 .container .section2-fast .cardlar .card3 h3 {
  margin-left: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  color: #19191B;
  margin-bottom: 13px;
}
main .section2 .container .section2-fast .cardlar .card3 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #696871;
  margin-left: 28px;
  margin-right: 28px;
}
main .section2 .container .section2-fast .cardlar .card3:hover {
  transform: scale(1.1);
}
main .section2 .container .section2-fast .cardlar .card4 {
  width: 255px;
  height: 254px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 52px 54px 0px rgba(65, 62, 101, 0.2980392157);
  transition: 0.7s ease-in-out;
}
main .section2 .container .section2-fast .cardlar .card4 .card-layout {
  margin-top: 26px;
  margin-left: 28px;
  width: 50px;
  height: 50px;
  background: rgba(65, 62, 101, 0.1019607843);
  border-radius: 40%;
  padding: 12px;
  margin-bottom: 23px;
}
main .section2 .container .section2-fast .cardlar .card4 h3 {
  margin-left: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.75px;
  color: #19191B;
  margin-bottom: 13px;
}
main .section2 .container .section2-fast .cardlar .card4 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #696871;
  margin-left: 28px;
  margin-right: 28px;
}
main .section2 .container .section2-fast .cardlar .card4:hover {
  transform: scale(1.1);
}
main .section2 .container .section2-fast .perfect h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
  color: white;
  width: 500px;
  margin-bottom: 31px;
}
main .section2 .container .section2-fast .perfect p {
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  color: rgba(255, 255, 255, 0.7019607843);
  margin-bottom: 39px;
}
main .section2 .container .section2-fast .perfect .chek {
  width: 200px;
  height: 60px;
}
main .section2 .container .section2-fast .perfect .chek a {
  text-decoration: none;
  border: 1px solid #EAE9F2;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.66px;
  text-align: center;
  color: white;
  padding: 16px;
  transition: 0.7s ease-in-out;
}
main .section2 .container .section2-fast .perfect .chek a:hover {
  background: #c8c2f7;
  color: #696871;
  transform: scale(1.2);
}
main .section3 .container .section3-container {
  display: flex;
  gap: 56px;
  justify-content: space-between;
  margin-bottom: 122px;
}
main .section3 .container .section3-container .section3-time {
  width: 48%;
  margin-top: 110px;
}
main .section3 .container .section3-container .section3-time h3 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
  color: #19191B;
  margin-bottom: 18px;
}
main .section3 .container .section3-container .section3-time p {
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.66px;
  color: #696871;
  margin-bottom: 35px;
}
main .section3 .container .section3-container .section3-time button {
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  display: grid;
  place-items: center;
  height: 64px;
  padding: 0 32px;
  border: 0;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 18px;
  color: #ffffff;
  cursor: wait;
}
@keyframes loading {
  0% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(-20px);
  }
}
main .section3 .container .section3-container .section3-time button > span {
  position: relative;
  z-index: 2;
}
main .section3 .container .section3-container .section3-time button::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  background: #F04037 repeating-linear-gradient(60deg, transparent, transparent 10px, #f8756e 10px, #fb9590 20px);
  animation: loading 1s infinite linear;
}
main .section3 .container .section3-container .section3-project {
  position: relative;
}
main .section3 .container .section3-container .section3-project .dasturchi {
  width: 100%;
}
main .section3 .container .section3-container .section3-project .soya {
  position: absolute;
  margin-left: -400px;
  margin-top: 40px;
}
main .section3 .container .section3-container .section3-project .next {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #FEDC5A;
  border-radius: 10px;
  background: #FEDC5A;
  box-shadow: 0px 32px 34px 0px rgba(28, 27, 32, 0.2);
  width: 305px;
  height: 113px;
  position: absolute;
  margin-top: -340px;
  margin-left: -68px;
}
main .section3 .container .section3-container .section3-project .next .kalakolchik {
  width: 31px;
  height: 31px;
  border: 1px solid #5454D4;
  background: #5454D4;
  border-radius: 50%;
  padding: 9px;
  margin-left: 20px;
}
main .section3 .container .section3-container .section3-project .next p {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.44px;
  color: #19191B;
  margin-bottom: 5px;
}
main .section3 .container .section3-container .section3-project .next h4 {
  font-size: 21px;
  line-height: 100%;
  letter-spacing: -0.66px;
  color: #19191B;
  width: 180px;
}
main .section3 .container .section3-container .section3-project .next:hover {
  background: #dbcf9c;
}
main .section4 {
  background: #F7F7FB;
  height: 800px;
  border-top-left-radius: 20%;
}
main .section4 .container .section4-container {
  display: flex;
  justify-content: space-between;
  gap: 127px;
  padding-top: 120px;
}
main .section4 .container .section4-container .section4-new {
  position: relative;
}
main .section4 .container .section4-container .section4-new .soya {
  position: absolute;
  margin-left: -470px;
  margin-right: -40px;
  margin-top: 20px;
}/*# sourceMappingURL=main.css.map */