*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px;
}

header{
    background-image: url(./img/Oval.png);
    height: 500px;
    background-repeat: no-repeat;
    .header-navbar{
    display: flex;
        align-items: center;
        justify-content: space-between;
         h2{
            padding-top: 23px;
            padding-left: 35px;
            font-weight: 900;
            font-size: 24px;
            line-height: 100%;

        }
        .header-demons{
            display: flex;
            align-items: center;
           gap: 38px;
           padding-right: 30px;
           padding-top: 30px;
           select{
            border: none;
            color: #5454D4;
            option{
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: -0.5px;
                color: #5454D4;
            }
           }
           a{
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: -0.5px;
            text-decoration: none;
            color: black;
           }

           button{
            width: 141px;
            height: 45px;
            border: 1px solid #C31A12;
            background: #F04037;
            color: white;
             font-weight: 500;
            font-size: 14px;
             line-height: 100%;
            letter-spacing: -0.5px;
            text-align: center;
            border-radius: 5px;
            transition: 0.7s ease-in-out;
           }
           button:hover{
            background: none;
             border: 1px solid #C31A12;
             color: #C31A12;
             transform: scale(1.1);
           }
        }
        
    }
}

main{
    .section1{
        .container{
            .section1-container{
                display: flex;
                gap: 15px;
                margin-top: -250px;
                margin-bottom: 120px;
                .section1-creat{
                    h3{
                        width: 450px;
                        font-weight: 700;
                        font-size: 70px;
                        line-height: 84px;
                        letter-spacing: -2.5px;
                        color: #19191B;
                        margin-bottom: 23px;
                    }
                .pages{
                        font-weight: 400;
                        font-size: 21px;
                        line-height: 30px;
                         color: #696871;
                        margin-bottom: 35px;
                        width: 530px;
                    }
                    button{
                        width: 141px;
                        height: 45px;
                        border: 1px solid #C31A12;
                        background: #F04037;
                        color: white;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: -0.5px;
                        text-align: center;
                        border-radius: 5px;
                        transition: 0.7s ease-in-out;
                    }
                    button:hover{
                        background: none;
                        border: 1px solid #C31A12;
                        color: #C31A12;
                        transform: scale(1.1);
           }
                    .watch{
                       display: flex;
                       align-items:center;
                       gap: 10px; 
                       margin-top: 18px;
                       .intro{
                         font-weight: 500;
                        font-size: 16px;
                         line-height: 100%;
                        letter-spacing: -0.5px;
                        color: #5454D4;
                       }
                    }
                }

                .iphone{
                    margin-top: -60px;
                    width: 48%;
                }
            }
            .icon{
                width: 90%;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
    }
     
    .section2{
       background: #5454D4;
        border-bottom-right-radius: 30%;
        margin-bottom: 100px;
        height: 800px;  
            .section2-container{
                display: flex;
                align-items: end;
                justify-content: end;
                 
            
        }
        .container{
            .section2-fast{
                display: flex;
                align-items: center;
                 gap: 66px;
                .cardlar{
                    display: grid;
                    align-items: center;
                    grid-template-columns: repeat(2, 1fr);
                   gap: 30px;
              .card{
                        width: 255px;
                        height: 254px;
                        background: white;
                        border-radius: 10px;
                        box-shadow: 0px 52px 54px 0px #413E654C;
                         transition: 0.7s ease-in-out;   
                        .card-layout{
                            margin-top: 26px;
                            margin-left: 28px;
                            width: 50px;
                            height: 50px;
                            background: #F0403719;
                             border-radius: 40%;
                            padding: 12px;
                            margin-bottom: 23px;
                        }
                        h3{
                            margin-left: 28px;
                             font-weight: 700;
                            font-size: 24px;
                             line-height: 100%;
                            letter-spacing: -0.75px;
                            color: #19191B;
                            margin-bottom: 13px;
                        }
                        p{
                             font-weight: 400;
                            font-size: 16px;
                             line-height: 28px;
                             color: #696871;
                            margin-left: 28px;
                            margin-right: 28px;
                        }

                    }
                    .card:hover{
                        transform: scale(1.1);
                    }

                 .card2{
                        width: 255px;
                        height: 254px;
                        background: white;
                        border-radius: 10px;
                        box-shadow: 0px 52px 54px 0px #413E654C;
                        transition: 0.7s ease-in-out; 
                        .card-layout{
                            margin-top: 26px;
                            margin-left: 28px;
                            width: 50px;
                            height: 50px;
                            background: #FEDC5A1A;
                             border-radius: 40%;
                            padding: 12px;
                            margin-bottom: 23px;
                        }
                        h3{
                            margin-left: 28px;
                             font-weight: 700;
                            font-size: 24px;
                             line-height: 100%;
                            letter-spacing: -0.75px;
                            color: #19191B;
                            margin-bottom: 13px;
                        }
                        p{
                             font-weight: 400;
                            font-size: 16px;
                             line-height: 28px;
                             color: #696871;
                            margin-left: 28px;
                            margin-right: 28px;
                        }

                    }

                    .card2:hover{
                        transform: scale(1.1);
                    }

                   .card3{
                        width: 255px;
                        height: 254px;
                        background: white;
                        border-radius: 10px;
                        box-shadow: 0px 52px 54px 0px #413E654C;
                        transition: 0.7s ease-in-out; 
                        .card-layout{
                            margin-top: 26px;
                            margin-left: 28px;
                            width: 50px;
                            height: 50px;
                            background: #5454D41A;
                             border-radius: 40%;
                            padding: 12px;
                            margin-bottom: 23px;
                        }
                        h3{
                            margin-left: 28px;
                             font-weight: 700;
                            font-size: 24px;
                             line-height: 100%;
                            letter-spacing: -0.75px;
                            color: #19191B;
                            margin-bottom: 13px;
                        }
                        p{
                             font-weight: 400;
                            font-size: 16px;
                             line-height: 28px;
                             color: #696871;
                            margin-left: 28px;
                            margin-right: 28px;
                        }

                    
                }

                .card3:hover{
                        transform: scale(1.1);
                    }

                   .card4{
                        width: 255px;
                        height: 254px;
                        background: white;
                        border-radius: 10px;
                        box-shadow: 0px 52px 54px 0px #413E654C;
                        transition: 0.7s ease-in-out; 
                        .card-layout{
                            margin-top: 26px;
                            margin-left: 28px;
                            width: 50px;
                            height: 50px;
                            background: #413E651A;
                             border-radius: 40%;
                            padding: 12px;
                            margin-bottom: 23px;
                        }
                        h3{
                            margin-left: 28px;
                             font-weight: 700;
                            font-size: 24px;
                             line-height: 100%;
                            letter-spacing: -0.75px;
                            color: #19191B;
                            margin-bottom: 13px;
                        }
                        p{
                             font-weight: 400;
                            font-size: 16px;
                             line-height: 28px;
                             color: #696871;
                            margin-left: 28px;
                            margin-right: 28px;
                        }

                    
                }

                .card4:hover{
                        transform: scale(1.1);
                    }
            }

            .perfect{
                h2{
                     font-weight: 700;
                    font-size: 60px;
                     line-height: 70px;
                    letter-spacing: -1.88px;
                    color: white;
                    width: 500px;
                    margin-bottom: 31px;
                }
                p{
                     font-weight: 400;
                    font-size: 21px;
                     line-height: 39px;
                    letter-spacing: -0.66px;
                    color: #FFFFFFB3;
                    margin-bottom: 39px;
                }
               .chek{
                width: 200px;
                 height: 60px;
                  a{
                    text-decoration: none;
                  border: 1px solid #EAE9F2;
                  border-radius: 5px;
                     font-weight: 500;
                    font-size: 18px;
                     line-height: 100%;
                    letter-spacing: -0.66px;
                    text-align: center;
                    color: white;
                    padding: 16px;
                    transition: 0.7s ease-in-out;
                }
                a:hover{
                    background: #c8c2f7;
                     color: #696871;
                     transform: scale(1.2);
                }
               }
            }
        }
    }
   }

   .section3{
    .container{
        .section3-container{
            display: flex;
            gap: 56px;
            justify-content: space-between;
            margin-bottom: 122px;
            .section3-time{
                width: 48%;
                margin-top: 110px;
                h3{
                     font-weight: 700;
                    font-size: 60px;
                     line-height: 70px;
                    letter-spacing: -1.88px;
                    color: #19191B;
                    margin-bottom: 18px;
                }
                p{
                     font-weight: 400;
                    font-size: 21px;
                     line-height: 39px;
                    letter-spacing: -0.66px;
                    color: #696871;
                    margin-bottom: 35px;
                }

                button {
                    position: relative;
                    overflow: hidden;
                    transform: translateZ(0);
                    display: grid;
                    place-items: center;
                    height: 64px;
                    padding: 0 32px;
                    border: 0;
                    border-radius: 10px;
                    font-family: Poppins;
                    font-size: 18px;
                    color: #ffffff;
                    cursor: wait;
                    }

                    @keyframes loading {
                    0% {
                        transform: translateX(25px);
                    }
                    100% {
                        transform: translateX(-20px);
                    }
                    }

                    button > span {
                    position: relative;
                    z-index: 2;
                    }

                    button::before {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: -100%;
                    width: 300%;
                    height: 100%;
                    background:#F04037
                        repeating-linear-gradient(
                        60deg,
                        transparent,
                        transparent 10px,
                       #f8756e 10px,
                       #fb9590 20px
                        );
                    
                    animation: loading 1s infinite linear;
                    }

            }
            .section3-project{
                position: relative;
                .dasturchi{
                    width: 100%;
                }
                .soya{
                    position: absolute;
                    margin-left: -400px;
                    margin-top: 40px;
                }
                .next{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border: 1px solid #FEDC5A;
                    border-radius: 10px;
                    background: #FEDC5A;
                    box-shadow: 0px 32px 34px 0px #1C1B2033;
                    width: 305px;
                    height: 113px;
                   position: absolute;
                   margin-top: -340px;
                   margin-left: -68px;
                    .kalakolchik{
                        width: 31px;
                        height: 31px;
                        border: 1px solid #5454D4;
                        background: #5454D4;
                        border-radius: 50%;
                        padding: 9px;
                        margin-left: 20px;
                    }
                    p{
                         font-weight: 400;
                        font-size: 14px;
                         line-height: 100%;
                        letter-spacing: -0.44px;
                        color: #19191B;
                        margin-bottom: 5px;
                    }
                    h4{
                         font-size: 21px;
                         line-height: 100%;
                        letter-spacing: -0.66px;
                        color: #19191B;
                        width: 180px;
                    }
                }
                .next:hover{
                    background: #dbcf9c;
                    
                }
            }

        }
    }
   }

   .section4{
    background: #F7F7FB;
    height: 900px;
    border-top-left-radius: 20%;
    .container{
        .section4-container{
            display: flex;
          justify-content: space-between;
            padding-top: 120px;
            
            .section4-new{
                position: relative;
                margin-left: 68px;
                .dasturchi{
                   
                }
                .soya{
                    position: absolute;
                    margin-left: -470px;
                    margin-right: -40px;
                    margin-top: 20px;
                }
                .next{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border: 1px solid #F04037;
                    border-radius: 10px;
                    background:#F04037;
                    box-shadow: 0px 32px 34px 0px #1C1B2033;
                    width: 305px;
                    height: 113px;
                   position: absolute;
                   margin-top: -540px;
                   margin-left: -68px;
                   transition: 0.7s ease-in-out;
                    .kalakolchik{
                        width: 31px;
                        height: 31px;
                        border: 1px solid #5454D4;
                        background: #5454D4;
                        border-radius: 50%;
                        padding: 9px;
                        margin-left: 20px;
                    }
                    p{
                         font-weight: 400;
                        font-size: 14px;
                         line-height: 100%;
                        letter-spacing: -0.44px;
                        color:#c8c5c5;
                        margin-bottom: 5px;
                    }
                    h4{
                         font-size: 21px;
                         line-height: 100%;
                        letter-spacing: -0.66px;
                        color:#FFFFFF;
                        width: 180px;
                    }
                }
                .next:hover{
                    background: #f882e0;
                    transform: translateY(8.9px);
                    h4{
                        color: #19191B;
                        transition: 0.6s ease-in-out;
                    }
                }

            }

            .section4-need{
                margin-top: 40px;
                width: 490px;
                h2{
                     font-weight: 700;
                    font-size: 60px;
                     line-height: 70px;
                    color: #19191B;
                    margin-bottom: 20px;
                }
                p{
                     font-weight: 400;
                    font-size: 21px;
                     line-height: 39px;
                    letter-spacing: -0.66px;
                    color: #696871;
                    margin-bottom: 41px;
                }
                .card{
                    border: 1px solid #EAE9F2;
                    background: white;
                    width: 349px;
                    height: 95px;
                    border-radius: 10px;
                    display: flex;
                    gap: 20px;
                    padding: 20px;
                    transition: 0.7s ease-in-out;
                    .unique{
                        border-radius: 40%;
                        background: #F0403719;
                        padding: 17px;
                        width: 50px;
                        height: 50px;
                    }
                    h3{
                         font-weight: 700;
                        font-size: 21px;
                         line-height: 100%;
                        letter-spacing: -0.66px;
                        color: #19191B;
                        span{
                             font-weight: 400;
                            font-size: 18px;
                             line-height: 120%;
                            letter-spacing: -0.66px;
                            color: #696871;
                        }
                    }
                }
                .card:hover{
                    background: cyan;
                    transform: scale(1.1);
                }

                   .card2{
                    border: 1px solid #EAE9F2;
                    background: white;
                    width: 349px;
                    height: 95px;
                    border-radius: 10px;
                    display: flex;
                    gap: 20px;
                    padding: 20px;
                    margin-top: 15px;
                    transition: 0.7s ease-in-out;
                    .smart{
                        border-radius: 40%;
                        background: #F0403719;
                        padding: 17px;
                        width: 50px;
                        height: 50px;
                    }
                    h3{
                         font-weight: 700;
                        font-size: 21px;
                         line-height: 100%;
                        letter-spacing: -0.66px;
                        color: #19191B;
                        width: 170px;
                        span{
                             font-weight: 400;
                            font-size: 18px;
                             line-height: 120%;
                            letter-spacing: -0.66px;
                            color: #696871;
                        }
                    }
                }

                .card2:hover{
                    background: cyan;
                    transform: scale(1.1);
                }
            }
                
        }
    }
   }

}